/* Font */

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Lasting\ Sketch.ttf);
 }
 @font-face {
    font-family: Title;
    src: url(../fonts/Dreamy\ Land\ Medium.ttf);
 }
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
:root{
    --text: #ffffff;
    --background: rgb(7, 8, 8);
    --primary-button: rgb(67, 70, 69);
    --secondary-button: rgb(15, 16, 15);
    --accent: rgb(62, 48, 126);
}

body{
    background-color: #16070f;
    background-image: radial-gradient(hsla(347, 70%, 49%, 0.2), #0a050b);
    overflow: visible;
    font-family: 'Ubuntu', sans-serif;
    color: #fae5ea;
    width:100vw;
    height:100vh;
}
h1{
    color:#d4254b;
    font-family: 'Title', sans-serif;
}
#navbar {
    position:absolute;

    top:0;
    left:-20%;
    background-color:#ffdbdb;
    border-radius: 0px 0rem 1rem 0px;
    height: 100%;
    color:#d4254b;
    width: 20%;
    transition-duration: 1s;
}
#navbar:hover {
    left:0;
    transition-duration: .5s;
}
#arrow {
    position: absolute;
left:98%;
padding: 10px;
overflow: visible;
border-radius: 0px 1rem 1rem 0px;
background-color:#ffdbdb;
}
#navbar h1{
    text-align: center;
}
#navbar ul{
    list-style-type: none;
    height:30%
}
#dream-logs-hover-check:hover #dream-logs-main{
    opacity: 1;
    transition: opacity 1s ease-in-out;
}
#dream-logs-hover-check #dream-logs-main{
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

#navbar-bottom{
    position: absolute;
    bottom:0;
    left:0;
    margin-bottom:40px;
    color:#d4254b;
}
#dream-logs-wrapper{
    position:relative;
    height:20px;
    width: 200px;
}
#dream-logs-main{
    position:absolute;
    bottom:1;
    right:0;
    width:100%;
}
#dream-logs-hover-check{
    z-index: 1;
}

#dream-logs-main li{
    cursor: pointer;
}

.hidden{
    display: none;
}

#dream-wrapper{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    display: flex;

    justify-content: flex-start;
    overflow-wrap: normal;
    flex-direction: column;
    text-align: center;
}

#dream-title{
    width:100%;
    text-align: center;
}

#dream-log-content{
    width:100%;
    text-align: center;
}
#home-button-wrapper{
    cursor: pointer;
    user-select: none;
    color:#d4254b;
}

#navbar-bottom li{
    cursor: pointer;
}

audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}

video {
    border-radius : 1rem;
    text-align: center;
}